.certificate {
  margin-top: 50px;
  background-color: black;
  padding: 50px;
  position: relative;
}

.certificate-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px;
  background-color: black;
  margin-top: 50px;
}

.certificate-card {
  width: 400px;
  flex: 0 0 auto;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.certificate-card:hover {
  transform: scale(1.09);
  box-shadow: 0px 6px 15px rgba(0, 0, 255, 0.3);
}

.certificate-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Dots navigation */
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #106995;
}

/* Scrollbar styling */
.certificate-container::-webkit-scrollbar {
  height: 10px;
}

.certificate-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.cert_heading{
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  margin-left: -10px;
}

/* Responsive styling for smaller screens */
@media (max-width: 700px) {
  

  .certificate {
    margin-top: 0px;
    background-color: black;
    padding: 5px;
    margin-left: -10px;
    position: relative;
  }
  .certificate-card {
    margin-top: -20px;
    width: 150px;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
  }
  .cert_heading{
    font-size: 20px;
    font-weight: 500;
    color: #fff9f9;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: -20px;
  }
  
  .certificate-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 255, 0.3);
    width: 250px;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 40px;
    margin-top: -30px;
  }

  
}
